---
const {width, height} = Astro.props;
const socialLinks = [
	{
		title: 'LinkedIn',
		icon: 'logos:linkedin-icon',
		href: 'https://www.linkedin.com/in/chemudupati-satvik/',

	},
	{
		title: 'Github',
		icon: 'simple-icons:github',
		href: 'https://github.com/satvikch',

	},
	{
		title: 'CV',
		icon: 'tabler:file-cv',
		href: 'https://drive.google.com/file/d/1Qq2H_DDBlHWuHRWJGnNQAjgyaKDUJ6JK/view?usp=drive_linkhttps://drive.google.com/file/d/1Qq2H_DDBlHWuHRWJGnNQAjgyaKDUJ6JK/view?usp=sharing',

	},
	{
		title: 'Email',
		icon: 'logos:google-gmail',
		href: 'mailto:schemudu@asu.edu',

	},
];
---

<div class="icons__container">
    {
        socialLinks.map((data) => (
            <a
                href={data.href}
                target="_blank"
                rel="nofollow noreferrer noopener"
            >
				<span
				class = "text-neutral-950 dark:text-neutral-400 hover:text-neutral-900 dark:hover:text-white">
                <iconify-icon
					class=`skill__icon ${data.title}`
                    icon={data.icon}
                    width={width}
                    height={height}
                />
				</span>
            </a>
        ))
		
    }
</div>

<style>
	.icons__container {
		display: flex;
    width: 29.6rem;
    /* padding: 1.3rem 4rem; */
    justify-content: flex-start;
    align-items: flex-start;
    gap: 2rem;
}
/* .skill__icon{
	color:#111;
} */

	.LinkedIn:hover{
		color: #0e76a8;
	}
	.CV{
		color:#8e64ff;
	}
	.Email:hover{
		icon: red;
	}
	.Github{
		;
	}



</style>